.custom-table-container{
    max-height: 400px !important;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f4f4f4;
}

.custom-table th,
.custom-table td {
    padding: 5px;
    border-bottom: 1px solid var(--secondary-color-light);
}

.custom-table thead {
    position: sticky;
    top: 0;
    z-index: 2;
}



.custom-table th:hover{
   background-color: var(--secondary-color-light);
}


.custom-table tr:nth-child(odd){
    background-color: var(--secondary-color);
    transition: .1s;
}
.custom-table tr:nth-child(even){
    background-color: rgba(50,50,50,.5);
    transition: .1s;
}
.custom-table tbody tr:nth-child(even):hover,
.custom-table tbody tr:nth-child(odd):hover {
    background-color: rgba(40, 40, 40, 0.6);
}


.custom-table tbody tr:last-child td {
    border-bottom: none;
}


/* search box*/

.search-box{
    color: white;
    background-color: rgba(50,50,50,.3);
    border: 2px solid var(--secondary-color-light);
    border-radius: .3rem;
    transition: .3s;
}

.search-box:focus {
    outline: none;
    background-color: rgba(111,111,111,.25);
}

.search-icon{
    color: var(--mute-color);
    transform: translateX(calc(100% + 10px));
}
