<div th:fragment="footer" class="container-fluid">
        <div class="row justify-content-around text-center secondary-bg text-color-light">
            <div class="col-lg-4 col-md-5 col-sm-12 p-5">
                <h5 class="font-500">צור קשר</h5>
                <p><a href="mailto:mortgageIL@gamail.com" target="_blank" class="text-color-light footer-link">Email Us</a></p>
                <p><a href="https://wa.me/" target="_blank" class="text-color-light footer-link">WhatsApp Us</a></p>
                <p><a href="https://www.instagram.com/yourprofile" target="_blank" class="text-color-light footer-link">Follow us on Instagram</a></p>
                <p><a href="https://www.facebook.com/yourprofile" target="_blank" class="text-color-light footer-link">Like us on Facebook</a></p>
            </div>

            <div class="col-lg-4 col-md-7 col-sm-12 mb-4 p-5">
                <h5  class="font-500">קצת עלינו</h5>
                <p>האפילקציה שלנו פותחה בעקבות חוק הבנקאות הפתוחה המחייב את הבנקים לשקף את נתוני ההלוואות, אנחנו נציג לכם כל הנתונים בזמן אמת ונציע לכם את הבנקים הזולים יותר לפי הצרכים שלכם ומסלולי המשכנתא שלכם תוכלו לשמור נתונים באיזור האישי וכמובן לראות ולעדכן את הפרופיל שלכם בכל רגע נתון </p>
                <p> אז למה אתם מחכים התחילו להשוות ולחסוך </p>
            </div>

            <div class="col-lg-4 col-md-7 col-sm-12 mb-4 p-5">
                <h5  class="font-500"> מידע שימושי </h5>
                <p><a href="/about" class="text-color-light footer-link"> אודות האתר </a></p>
                <p><a href="/dataMarket" class="text-color-light footer-link"> נתוני השוק </a></p>
                <p><a href="/calculator" class="text-color-light footer-link"> מחשבונים </a></p>
                <p><a href="/sign" class="text-color-light footer-link"> הרשמה לאתר </a></p>
            </div>
        </div>
</div>

