<div th:fragment="ourFeatures">
    <div class="row justify-content-around ">
            <div class="col-10 text-center">
                <h1 class="text-color-accent mt-5"> מה תמצאו באתר </h1>
            </div>


            <div class="col-lg-3 col-md-5 m-3">
                <div class="h-100 d-flex flex-column text-center mt-2 p-1 card-our-features brd-outline-accent"
                     data-aos="fade-right" data-aos-duration="1000">
                    <i class="bi bi-calculator"></i>
                    <h2>מחשבונים מתקדמים</h2>
                    <h5>מחשבון החזר חודשי לפי מסלולים, יכולת לקיחת משכנתא ועוד כל זאת ועוד באיזור האישי</h5>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 m-3">
                <div class="h-100 d-flex flex-column text-center mt-2 p-1 card-our-features brd-outline-accent"
                     data-aos="fade-down" data-aos-duration="1000">
                    <i class="bi bi-search"></i>
                    <h2>מנוע חיפוש מתקדם</h2>
                    <h5>מנוע החיפוש שלנו יראה לכם את הריביות בכל הבנקים לפי המסלולים שבחרתם וכך תוכלו להשוות
                        ולחסוך</h5>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 m-3">
                <div class="h-100 d-flex flex-column text-center mt-2 p-1 card-our-features brd-outline-accent"
                     data-aos="fade-left" data-aos-duration="1000">
                    <i class="bi bi-clipboard-pulse"></i>
                    <h2>נתוני שוק עדכניים</h2>
                    <h5>תוכלו למצוא מגוון נתוני שוק עדכניים כגון ריביות מדדי מחירים וכמובן עם סינון והצגה גרפית</h5>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 m-3 mb-lg-5">
                <div class="h-100 d-flex flex-column text-center mt-2 p-1 card-our-features brd-outline-accent"
                     data-aos="fade-right" data-aos-duration="1000">
                    <i class="bi bi-clipboard-data"></i>
                    <h2>לוחות סילוקין</h2>
                    <h5>לוחות סילוקין מדוייקים לפי מסלולי המשכנתא שלכם עם סיכומי תשלומים גובה ריביות לכלל המשכנתה ולפי
                        חודשים ספציפים ועוד הרבה פרטים</h5>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 m-3 mb-lg-5">
                <div class="h-100 d-flex flex-column text-center mt-2 p-1 card-our-features brd-outline-accent"
                     data-aos="fade-up" data-aos-duration="1000">
                    <i class="bi bi-floppy"></i>
                    <h2>שמירת מסלולים</h2>
                    <h5>שמירת מסלולי המשכנתא המועדפים עליכם לצורך השוואות עתידיות באיזור האישי</h5>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 m-3 mb-lg-5">
                <div class="h-100 d-flex flex-column text-center mt-2 p-1 card-our-features brd-outline-accent"
                     data-aos="fade-left" data-aos-duration="1000">
                    <i class="bi bi-substack"></i>
                    <h2>איזור אישי</h2>
                    <h5>איזור אישי עם יכולת עריכת הפרופיל והעדפות שמירת פרטי הלווים ועוד כך בפעם הבאה שתחזרו הכל מוכן
                        בשביל
                        להתחיל להשוות</h5>
                </div>
            </div>
        </div>
    </div>

