<div th:fragment="section3">
    <div class="row justify-content-around rtl secondary-bg text-color-light">
        <div class="mt-5">
            <h1 class="text-color-accent">תהליך לקיחת המשכנתא</h1>
        </div>

        <div class="row justify-content-center mt-4 mb-4">
            <div class="col-lg-2 col-md-5 m-1">
                <div class="h-100 d-flex flex-column text-center mt-2 p-1 brd-outline-accent i-75">
                    <i class="bi bi-1-circle"></i>
                    <h4 class="font-500">ניתוח הון העצמי</h4>
                    <p class="font-400">
                        חישוב גובה המשכנתא שאוכל לקבל עבור ההון העצמי שיש לי וגובה ההכנסות וההוצאות שלי
                        <br>
                        אנו מעמידים לרשותך מחשבון שיעזור לך בחישוב זה
                        <br>
                    </p>
                    <a href="/calculator" class="btn mt-1 ml-5 mr-5 btn-accent-text-light ltr"><i class="bi bi-arrow-left"></i> למחשבונים </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 m-1">
                <div class="h-100 d-flex flex-column text-center mt-2 p-1 brd-outline-accent i-75">
                    <i class="bi bi-2-circle"></i>
                    <h4 class="font-500">אישור ראשוני</h4>
                    <p class="font-400">
                        אישור ראשוני הוא היכולת שלך לראות שהבנק מוכן לממן את המשכנתא ומאפשר לך לאמוד את ההחזרים החודשיים
                        <br>
                        אנו מנגישים את נתוני כלל הבנקים כדי שתוכל להשוות אם ההצעה שקיבלת היא המיטבית
                        <br>
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 m-1">
                <div class="h-100 d-flex flex-column text-center mt-2 p-1 brd-outline-accent i-75">
                    <i class="bi bi-3-circle"></i>
                    <h4 class="font-500">מציאת דירה</h4>
                    <p class="font-400">
                        בחירת דירה לפי הקציב הקיים, חשוב לשים לב שהחזרי המשכנתא לא יהיו גבוהים מדי וכי זה לא משפיע על
                        כלכלת הבית כי נדרש לעמוד בהם לאורך זמן
                        <br>
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 m-1">
                <div class="h-100 d-flex flex-column text-center mt-2 p-1 brd-outline-accent i-75">
                    <i class="bi bi-4-circle"></i>
                    <h4 class="font-500">חתימה על משכנתא</h4>
                    <p class="font-400">
                        בשלב זה אנו נשווה את המסלולים שהבנק הציע לכם עם כלל נתוני הבנקים ונראה לכם באיזה בנק הריבית
                        נמוכה יותר לכל מסלול לפי
                        המסלולים של המשכנתא שלכם ונחפש עבורכם את הבנק הזול ביותר
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <a href="/login" class="btn ml-l-5 btn-accent-text-light ltr"><i class="bi bi-arrow-left"></i> להתחלת התהליך </a>
        </div>
    </div>
</div>
