<div th:fragment="section4">

    <div class=" ">
        <div class="row no-gutters opacity-100">
            <div class="col-7 m-5 p-5 brd-outline-accent">
                <div class="row justify-context-start ">
                    <div class="text-center">
                        <h2>אתר השוואת המשכנתאות שלנו מציע לך את הכלים והמידע הדרושים כדי לקבל את ההחלטה
                            הטובה ביותר עבורך.</h2>

                        <h1>השווה והתחל לחסוך</h1>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <a href="/runReact" class="btn ml-3 btn-accent"><i class="bi bi-arrow-left"></i> להתחלת התהליך
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
