<div th:fragment="section1">
        <div class="card">
            <div class="row">
                    <img src="/images/imgSection1.jpg" class="card-img img-fluid" alt="mortgageIL" style="height: 76%;opacity: 0.7">
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="text-center">
                        <h1  data-aos="fade-up" data-aos-duration="1000">מצא את המשכנתא המתאימה ביותר עבורך
                        </h1>
                        <div class="text-center mt-5">
                            <a href="/auth/login" class="btn ml-3 btn-accent-fill">
                                <i class="bi bi-arrow-left"></i> להתחלת התהליך
                            </a>
                        </div>

                    </div>
                </div>
        </div>
</div>