.form-input {
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    outline: none;
    font-weight: bold;
}

.form-input:focus {
    border: 1px solid var(--text-color);
    outline: none;
}


.label-icon{
    cursor: default;
}


.form-input:valid {
    color: var(--success-color);
    border: 1px solid var(--success-color);
}
