
* {
    margin: 0;
    padding: 0;
}

body{
    background: #c6d5f2 !important;
}

body h1{
    font-weight: 360;
}

[role="button"] {
    transition: .2s;
}

[role="button"]:hover {
    transform: scale(1.1);
}

/* scrollbar style */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-dark);
}
