@keyframes blink {
    0%, 100% { opacity: .6; }
    50% { opacity: .4 }
}

.loading-children{
    animation: blink 1.15s infinite;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}
