.level-select-button{
    transition: .3s;
    border: var(--secondary-color) 3px solid;
    width: 100%;
}

.level-select-button:hover{
    transform: scale(1.01);
    color: var(--primary-color);
    background: var(--secondary-color);
}


